body{
    background-color: rgb(187, 227, 230);
}
  
/* Estilo para el nombre */
.nombre{
    font-family: 'Comic Sans MS';
    font-size: 45px;
}

/* Estilo para las cabeceras de cada apartado */
.cabecera{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 25px;
}

/* Estilo para las 3 cajas principales*/
.caja1{
    float:left;
    width: 25%;
    padding: 3px 10px;
    border: rgb(228, 176, 230) 5px groove;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px;
 } 