body {
    background-color: rgb(187, 227, 230);
}
  
/* Estilo para el nombre */
.nombre{
    font-family: 'Comic Sans MS';
    font-size: 45px;
}

/* Estilo para las cabeceras de cada apartado */
.cabecera{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 25px;